-
    var filesPath = ''
    
    var projectName = 'Моё здоровье'
    
    var menu = [
    {href: '#', label: 'О сервисе'},
    {href: '#', label: 'Функции'},
    {href: '#', label: 'Возможности'},
    {href: '#', label: 'Партнеры'}
    ]  
    
    var aboutService = [
    'Вносите результаты измерений вручную или с помощью интегрированных приборов',
    'Ведите персональную медицинскую карту с историей ваших измерений',
    'Делитесь результатами измерений со специалистами для повышения эффективности лечения',
    'Получайте рекомендации, созданные специально для вас' 
    ]
    

    var functions = [
    {icon: 'tablets', title: 'Планирование графика приема лекарств'},
    {icon: 'siren', title: 'Уведомление врача об исполнении назначений'},
    {icon: 'heart', title: 'Ведение дневника самочувствия'},
    {icon: 'watch', title: 'Удаленное предоставление измерений врачу'},
    {icon: 'conversation', title: 'Общение с врачами через встроенный мессенджер'},
    {icon: 'fb', title: 'Получение уведомлений для выполнения назначений'}
    ]
    