@font-face {
  font-family: 'Cera Round Pro';
  src: url('../fonts/CeraRoundPro-Bold.woff2') format('woff2'),
  url('../fonts/CeraRoundPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Round Pro';
  src: url('../fonts/CeraRoundPro-Regular.woff2') format('woff2'),
  url('../fonts/CeraRoundPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
