$font-base: 'Cera Round Pro', sans-serif;

$imgPath: '../../images/';
$spritePath: '../../images/sprites.png';

$c-rose: #e70067;
$c-rose-dark: #c9005a;
$c-blue-light: #5489c3;
$c-blue-dark: #60759d;
$c-blue-bright: #16afe0;
$c-white: #fff;

